<div class="container-fluid">
  <div class="jumbotron" style="padding: 0">
    <div [hidden]="isLoading" class="bg_f0f2f2 color_53b7f9 light_skin">
      <div class="i_row-wrap wrapper light_skin" style="padding: 0 0 3em 0">
        <div class="i_row-space">
          <header id="header" class="i_row noprint">
            <h1 class="head-name" style="position: relative">
              Narcisse Noumegni
              <img
                src="assets/images/faveicon.png"
                style="height: 27px; position: absolute; right: 0px; top: 3px"
              />
            </h1>
            <div class="head-social">
              <ul>
                <li class="fb">
                  <a href="https://www.facebook.com/" target="_blank"
                    >Facebook</a
                  >
                </li>
                <li class="lnkd">
                  <a href="https://www.linkedin.com/" target="_blank"
                    >Linkedin</a
                  >
                </li>
              </ul>
            </div>
          </header>

          <section id="profile" class="item noprint">
            <h2 class="item-title">
              <span class="title">my Profile</span>
              <span class="icon-user"></span>
            </h2>

            <div class="item-cont clearfix">
              <div>
                <div class="col500 clearfix fl-left">
                  <div class="profile-img">
                    <img src="assets/images/profile-img.png" alt="" />
                  </div>
                  <div class="profile-info">
                    <h3>Staff Sofware Developer</h3>
                    <p>
                      I'm a driven technologist with insatiable thirst to stay
                      up-to-date with the latest standards. It is my focus to
                      understand in-depth the reasons why the world of
                      development moves the way it does. Continuously studying
                      all the new frameworks and use them in various projects
                      has given me the upper hand in working with exceptional
                      teams to build great products.
                    </p>
                  </div>
                </div>

                <div class="col260 fl-right">
                  <ul class="profile-data">
                    <li>
                      <h4>name</h4>
                      <div>Narcisse Noumegni</div>
                    </li>
                    <li>
                      <h4>Address</h4>
                      <div>Palo Alto, CA - USA</div>
                    </li>
                    <li>
                      <h4>E-mail</h4>
                      <div>nnoumegni@gmail.com</div>
                    </li>
                    <li>
                      <h4>phone</h4>
                      <div>+1 650 352 1479</div>
                    </li>
                    <li>
                      <h4>freelance</h4>
                      <div>Available</div>
                    </li>
                  </ul>
                </div>
              </div>
              <a class="blog-link" href="javascript:alert('comming soon...');">
                <span class="icon"></span>
                <span class="label">MY BLOG</span>
              </a>
            </div>
            <div id="profile-brd" class="item-border">
              <span><span></span></span>
            </div>
          </section>
          <!-- /#profile -->

          <section id="resume" class="item">
            <h2 class="item-title toggle noprint closed">
              <span class="title">resume</span> <span class="icon-resume"></span
              ><span class="arrow"></span>
            </h2>

            <div class="item-cont clearfix">
              <div class="col500 fl-left">
                <div class="resume-category">
                  <h3 class="resume-category-title clearfix">
                    EDUCATION <span class="icon-plus"></span>
                  </h3>

                  <div class="resume-post">
                    <div class="resume-post-body">
                      <div class="resume-post-date">2011</div>
                      <h4 class="resume-post-title">Stanford University</h4>
                      <h5 class="resume-post-subtitle">
                        Client-side internet technology
                      </h5>
                      <div class="resume-post-cont">
                        <p>
                          This program focus on web technology with advanced
                          JavaScript, CSS and HTML5. It also teach the basics of
                          jQuery framework.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="resume-post">
                    <div class="resume-post-body">
                      <div class="resume-post-date">2010</div>
                      <h4 class="resume-post-title">Telecom - Paritech</h4>
                      <h5 class="resume-post-subtitle">
                        Master Professional - Software engineering
                      </h5>
                      <div class="resume-post-cont">
                        <p>
                          From, Programming to networking and management, this
                          program focus on every aspect of sofware development
                          with and amphasis on Java and C++ application
                          development.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="resume-post">
                    <div class="resume-post-body">
                      <div class="resume-post-date">2007</div>
                      <h4 class="resume-post-title">ISMANS - LE MANS</h4>
                      <h5 class="resume-post-subtitle">
                        Master Degree - Numerical Mecanics
                      </h5>
                      <div class="resume-post-cont">
                        <p>
                          During this program I've learn in deep mecanical
                          design and analysis using popular 3D software from
                          Dassault system and Autodesk (IDEAS, CATIA, INVENTOR
                          and AUTOCAD)
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="resume-category">
                  <h3 class="resume-category-title clearfix">
                    Professional experience <span class="icon-plus"></span>
                  </h3>

                  <div class="resume-post">
                    <div class="resume-post-body">
                      <div class="resume-post-date">2013 - Present</div>
                      <h4 class="resume-post-title">
                        Senior Front-End Developer
                      </h4>
                      <h5 class="resume-post-subtitle">
                        Adaptive Insights, Palo Alto, CA
                      </h5>
                      <div class="resume-post-cont">
                        <ul
                          style="
                            list-style: outside none disc;
                            margin-left: 15px;
                          "
                        >
                          <li>
                            Front-end Dev in a scrum team responsible of adding
                            new features to existing products
                          </li>
                          <li>
                            Re-write in JS parts of the App that was build using
                            JAVA Applets
                          </li>
                          <li>
                            Study and integrate new frameworks to make the App
                            mobile friendly
                          </li>
                          <li>
                            Work with UI/UX and PM to update the look-and-feel
                            of the app
                          </li>
                          <li>
                            Work closely with back-end developers through
                            Restful services
                          </li>
                        </ul>
                        <h4
                          class="resume-post-subtitle"
                          style="font-weight: bold; margin-top: 1em"
                        >
                          Keywords: JavaScript/Ajax, CSS3, HTML5, JAVA, Restful
                          Web Services, UI/UX
                        </h4>
                      </div>
                    </div>
                  </div>

                  <div class="resume-post">
                    <div class="resume-post-body">
                      <div class="resume-post-date">2011 - 2013</div>
                      <h4 class="resume-post-title">
                        Junior Front-End Developer
                      </h4>
                      <h5 class="resume-post-subtitle">
                        eQuest LLC, San Ramon, CA
                      </h5>
                      <div class="resume-post-cont">
                        <ul
                          style="
                            list-style: outside none disc;
                            margin-left: 15px;
                          "
                        >
                          <li>
                            Development in JavaScript/jQuery of complex user
                            interfaces (UI) for job posting
                          </li>
                          <li>
                            Development of Restful applications for location
                            validation using Google Map Web-services
                          </li>
                          <li>
                            Development of SOAP and HTTP Web-services
                            application for job posting in PHP
                          </li>
                          <li>Maintain and debug existing web applications</li>
                        </ul>
                        <h4
                          class="resume-post-subtitle"
                          style="font-weight: bold; margin-top: 1em"
                        >
                          Keywords: PHP5, SOAP, REST, JavaScript/Ajax, jQuery,
                          XML, Smarty, CSS, Ergonomic, SVN
                        </h4>
                      </div>
                    </div>
                  </div>

                  <div class="resume-post">
                    <div class="resume-post-body">
                      <div class="resume-post-date">2009 - 2011</div>
                      <h4 class="resume-post-title">Front-End Developer</h4>
                      <h5 class="resume-post-subtitle">
                        JetCamer LLC, Pleasanton, CA
                      </h5>
                      <div class="resume-post-cont">
                        <ul
                          style="
                            list-style: outside none disc;
                            margin-left: 15px;
                          "
                        >
                          <li>
                            Development of a single-page application to replace
                            an in-house Excel application (JavaScript / Ajax,
                            PHP)
                          </li>
                          <li>
                            Development of a single-page, web-based VoIP phone
                            application (JavaScript / Ajax, PHP)
                          </li>
                          <li>
                            Development of a single-page application for bulk
                            SMS (JavaScript / Ajax, PHP)
                          </li>
                          <li>
                            Development of a desktop application for VoIP phone,
                            SMS and bulk SMS in JAVA
                          </li>
                          <li>
                            Development of a PayPal gateway application for
                            payment processing in PHP and JavaScript
                          </li>
                        </ul>
                        <h4
                          class="resume-post-subtitle"
                          style="font-weight: bold; margin-top: 1em"
                        >
                          Keywords: PHP5, JavaScript/Ajax, CSS3, HTML5, VOIP,
                          JAVA, Facebook Apps, SQL, Web Services
                        </h4>
                      </div>
                    </div>
                  </div>

                  <div class="resume-post">
                    <div class="resume-post-body">
                      <div class="resume-post-date">2009 - Present</div>
                      <h4 class="resume-post-title">Front-End Developer</h4>
                      <h5 class="resume-post-subtitle">Freelancer</h5>
                      <div class="resume-post-cont">
                        <ul
                          style="
                            list-style: outside none disc;
                            margin-left: 15px;
                          "
                        >
                          <li>
                            Entreprise portal develpment with popular CMS
                            (Wordpress, Joomla, etc...)
                          </li>
                          <li>Java application develpment</li>
                          <li>Hybrid Phonegap and Android apps development</li>
                        </ul>
                        <h4
                          class="resume-post-subtitle"
                          style="font-weight: bold; margin-top: 1em"
                        >
                          Keywords: Phonegap, Android, Ionic, JavaScript, HTML5,
                          CSS3, Wordpress, Joomla
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="resume-btns noprint" id="resume-btns">
                  <a href="javascript:alert('comming soon...');" class="btn"
                    ><i class="icon-cloud"></i>Download resume</a
                  >
                  <a
                    id="printBtn"
                    onclick="window.print();return false;"
                    target="_blank"
                    href="#"
                    class="btn"
                    ><i class="icon-print"></i>print resume</a
                  >
                </div>
              </div>

              <div class="col260 fl-right noprint">
                <div class="resume-sidebar">
                  <aside class="skill-box">
                    <h3>DEVELOPMENT SKILLS</h3>
                    <div class="skill-row">
                      <h4 class="skill-title">JavaScript</h4>
                      <div class="skill-data">
                        <span class="skill-percent-line" data-width="85"></span>
                        <span class="skill-percent">85%</span>
                      </div>
                    </div>
                    <div class="skill-row">
                      <h4 class="skill-title">JQUERY</h4>
                      <div class="skill-data">
                        <span class="skill-percent-line" data-width="85"></span>
                        <span class="skill-percent">85%</span>
                      </div>
                    </div>
                    <div class="textwidget">
                      <div class="skill-row">
                        <h4 class="skill-title">HTML 5</h4>
                        <div class="skill-data">
                          <span
                            class="skill-percent-line"
                            data-width="85"
                          ></span>
                          <span class="skill-percent">85%</span>
                        </div>
                      </div>

                      <div class="skill-row">
                        <h4 class="skill-title">CSS 3</h4>
                        <div class="skill-data">
                          <span
                            class="skill-percent-line"
                            data-width="85"
                          ></span>
                          <span class="skill-percent">85%</span>
                        </div>
                      </div>

                      <div class="skill-row">
                        <h4 class="skill-title">NodeJs</h4>
                        <div class="skill-data">
                          <span
                            class="skill-percent-line"
                            data-width="75"
                          ></span>
                          <span class="skill-percent">70%</span>
                        </div>
                      </div>
                    </div>
                  </aside>

                  <aside class="skill-box">
                    <h3>DESIGN SKILLS</h3>

                    <div class="textwidget">
                      <div class="skill-row">
                        <h4 class="skill-title">GIMP</h4>
                        <div class="skill-data">
                          <span
                            class="skill-percent-line"
                            data-width="85"
                          ></span>
                          <span class="skill-percent">75%</span>
                        </div>
                      </div>

                      <div class="skill-row">
                        <h4 class="skill-title">PHOTOSHOP</h4>
                        <div class="skill-data">
                          <span
                            class="skill-percent-line"
                            data-width="50"
                          ></span>
                          <span class="skill-percent">50%</span>
                        </div>
                      </div>

                      <div class="skill-row">
                        <h4 class="skill-title">FLASH</h4>
                        <div class="skill-data">
                          <span
                            class="skill-percent-line"
                            data-width="40"
                          ></span>
                          <span class="skill-percent">40%</span>
                        </div>
                      </div>
                    </div>
                  </aside>

                  <aside class="skill-box">
                    <h3>LANGUAGE SKILLS</h3>

                    <div class="textwidget">
                      <aside class="skill-language">
                        <div class="skill-row clearfix">
                          <h4 class="skill-title clearfix">
                            <img
                              src="assets/images/en.png"
                              alt="english"
                            /><span>ENGLISH</span>
                          </h4>
                          <div class="skill-data skill6"></div>
                        </div>
                      </aside>

                      <aside class="skill-language">
                        <div class="skill-row clearfix">
                          <h4 class="skill-title clearfix">
                            <img src="assets/images/fr.png" alt="french" /><span
                              >FRENCH</span
                            >
                          </h4>
                          <div class="skill-data skill6"></div>
                        </div>
                      </aside>
                      <aside class="skill-language">
                        <div class="skill-row clearfix">
                          <h4 class="skill-title clearfix">
                            <img src="assets/images/es.png" alt="german" /><span
                              >SPANISH</span
                            >
                          </h4>
                          <div class="skill-data skill3"></div>
                        </div>
                      </aside>
                    </div>
                  </aside>
                </div>
              </div>
            </div>

            <div class="item-border"><span></span></div>
          </section>
          <!-- /#resume -->

          <section id="portfolio" class="item noprint">
            <h2 class="item-title toggle closed">
              <span class="title">My Photos</span>
              <span class="icon-portfolio"></span> <span class="arrow"></span>
            </h2>

            <div class="item-cont">
              <div class="controls">
                <ul>
                  <li class="filter active" data-filter="all">All</li>
                  <li class="filter" data-filter="category_19">Branding</li>
                  <li class="filter" data-filter="category_20">Photography</li>
                  <li class="filter" data-filter="category_18">Web Design</li>
                </ul>
              </div>

              <ul id="Grid">
                <li class="mix mix_all category_20" data-cat="20">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a class="fancybox" data-rel="group" href="#fancy8">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/panorama.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>Panorama Viewer App</h2>
                          <span>3D Photo viewer tool</span>
                        </div>
                      </div>
                    </a>

                    <div id="fancy8" class="fancy-wrap"></div>
                  </div>
                </li>

                <li class="mix mix_all category_19" data-cat="19">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a class="fancybox" data-rel="group" href="#fancy9">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/3dviewer.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>3D with JavaScript</h2>
                          <span>3D Modeling Tool - Web App</span>
                        </div>
                      </div>
                    </a>

                    <div id="fancy9" class="fancy-wrap"></div>
                  </div>
                </li>

                <li class="mix mix_all category_18" data-cat="18">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a class="fancybox" data-rel="group" href="#fancy2">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/thehelpinghandsapp.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>The Helping Hands</h2>
                          <span>Mobile App</span>
                        </div>
                      </div>
                    </a>

                    <div id="fancy2" class="fancy-wrap"></div>
                  </div>
                </li>

                <li class="mix mix_all category_19" data-cat="19">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a class="fancybox" data-rel="group" href="#fancy3">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/camerhotel.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>Camer-Hotel.com</h2>
                          <span>Hotel Directory</span>
                        </div>
                      </div>
                    </a>

                    <div id="fancy3" class="fancy-wrap"></div>
                  </div>
                </li>

                <li class="mix mix_all category_18" data-cat="18">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a class="fancybox" data-rel="group" href="#fancy4">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/somatel.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>Awesome Workplace</h2>
                          <span>Web Design</span>
                        </div>
                      </div>
                    </a>

                    <div id="fancy4" class="fancy-wrap"></div>
                  </div>
                </li>

                <li class="mix mix_all category_18" data-cat="18">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a id="fancybox" href="http://jetcamer.com">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/jetcamer.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>JetCamer.com</h2>
                          <span>Daily News portal</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>

                <li class="mix mix_all category_20" data-cat="20">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a class="fancybox" data-rel="group" href="#fancy5">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/complexeiph.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>Cool Place</h2>
                          <span>Photography</span>
                        </div>
                      </div>
                    </a>

                    <div id="fancy5" class="fancy-wrap"></div>
                  </div>
                </li>

                <li class="mix mix_all category_19" data-cat="19">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a class="fancybox" data-rel="group" href="#fancy6">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/oxygentire.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>Old Bridge</h2>
                          <span>Branding</span>
                        </div>
                      </div>
                    </a>

                    <div id="fancy6" class="fancy-wrap"></div>
                  </div>
                </li>

                <li class="mix mix_all category_20" data-cat="20">
                  <div
                    class="ptf-item"
                    data-itemid="328"
                    data-type="fullslider"
                    data-defwidth="350"
                  >
                    <a class="fancybox" data-rel="group" href="#fancy7">
                      <div class="ptf-img-wrap">
                        <img
                          src="assets/images/user_images/gallery/mediatheque.png"
                          alt=""
                        />
                      </div>
                      <div class="ptf-cover">
                        <div class="ptf-button"><span>View Large</span></div>
                        <div class="ptf-details">
                          <h2>Media Server</h2>
                          <span>Comercial Media Box</span>
                        </div>
                      </div>
                    </a>

                    <div id="fancy7" class="fancy-wrap"></div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="item-border"><span></span></div>
          </section>
          <!-- /#portfolio -->

          <section id="contact" class="item noprint">
            <h2 class="item-title toggle closed">
              <span class="title">Contact info</span>
              <span class="icon-contact"></span><span class="arrow"></span>
            </h2>

            <div class="item-cont">
              <div class="clearfix">
                <div class="form col500 fl-left">
                  <h3>Let's keep in touch</h3>

                  <form
                    action="php/contact_form.php"
                    method="get"
                    id="contact_form"
                  >
                    <div class="clearfix">
                      <div class="form-col form-marg small fl-left">
                        <label>Name<span>*</span></label>
                        <div class="field">
                          <input
                            class="form-item req"
                            id="contact_name"
                            name="contact_name"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="form-col small fl-left">
                        <label>Email<span>*</span></label>
                        <div class="field">
                          <input
                            class="form-item req"
                            name="email"
                            id="email"
                            type="email"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-col">
                      <label>Message<span>*</span></label>
                      <div class="field">
                        <textarea
                          id="comment"
                          name="comment"
                          class="msg form-item req"
                        ></textarea>
                      </div>
                    </div>
                    <div class="form-btn">
                      <div class="field">
                        <input
                          class="btn"
                          name="submit"
                          id="submit"
                          value="send message"
                          type="submit"
                        />
                      </div>
                    </div>
                  </form>
                  <div id="messages">&nbsp;</div>
                </div>

                <div class="col260 fl-right">
                  <h3>Contact info</h3>
                  <ul class="contact-info">
                    <li class="icon-home clearfix">
                      <span class="icon"></span>
                      <span class="text">Palo Alto, CA - USA</span>
                    </li>
                    <li class="icon-phone clearfix">
                      <span class="icon"></span>
                      <span class="text">+1 650 352 1479</span>
                    </li>
                    <li class="icon-maile clearfix">
                      <span class="icon"></span>
                      <span class="text">nnoumegni@gmail.com</span>
                    </li>
                    <li class="icon-world clearfix">
                      <span class="icon"></span>
                      <span class="text">https://jetcamer.com</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item-border"><span></span></div>
          </section>
          <!-- /#contact -->

          <a id="up"></a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <app-loader [isLoading]="isLoading"></app-loader>
    </div>
  </div>
</div>
